body {
    font-family: 'Raleway', sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

main {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;;
}

.div{
    display: inline-block;
    width: 100%;
}

#div1{
    margin-left: 5%;
    width: 20%;
}

#div2 {
    margin-left: 2%;
    width: 68%;
}

#div3 {
    width: 5%;
    vertical-align: top;
    margin-top: 35px;
}

img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin-left: 0;
}

h1 {
    font-size: 70px;
}

p {
    margin-left: 5%;
    font-size: 30px;
}

.input {
    width: 98%;
    margin-left: 1%;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    height: 80px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid gray;
}

button {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 100px;
    color: gray;
}

#gradeDiv {
    margin-left: 28%;
}

li {
    list-style: none;
    font-size: 30px;
}

#tagInput {
    margin-left: 30%;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid lightgrey;
    margin-top: 30px;
}

#tagInput:focus {
    outline: none;
    border-bottom: 2px solid gray;
}

.tagDiv{
    margin-left: 30%;
    margin-right: 3%;
}

.pTag {
    display: inline-block;
    background-color: lightgray;
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;
}

#body {
    padding-bottom: 50px;
}